{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Home
        {% endblock title %}</title>
</head>

<body>
    {% block content %}
    <style type="text/css">
        @media (max-width: 768px) {
            .right-column {
                margin-left: 0px;
            }
        }

        @media (min-width: 768px) {
            .right-column {
                margin-left: 20px;
            }
        }

        .blog-post-container {
            margin-bottom: 20px;
            width: 100%;
        }

        .create-post-bar {
            background-color: #fff;
            margin-bottom: 20px;
        }

        .left-column {
            padding: 0px;
        }

        .right-column {
            padding: 0px;
        }

        .lead {
            font-size: 17px;
        }
    </style>


    <!-- main content -->
    <div class="container">
        {% if messages %}
        {% for message in messages %}
            <h4{% if message.tags %} class="alert-{{ message.tags }}" {% endif %}>{{ message }}</h4>
        {% endfor %}

        {% endif %}
            <div class="row mt-3">
                <!-- blog feed -->
                <div class="left-column col-lg-7 offset-lg-1">
                    <!-- Top 'create post' bar -->
                    <div class="d-lg-none mb-3">
                        <div class="card m-auto d-flex flex-column p-3">
                            <p class="lead">Welcome to Yureka Hunt. The most amazing website that gives you unseen or
                                hidden things.You can show your or someone's creative thing here.
                            </p>
                            <p class="m-auto"><a class="btn btn-primary" href="{% url 'create' %}">Create post</a></p>
                        </div>
                    </div>
                    <!-- end Top 'create post' bar -->

                    <!-- Blog posts-->
                    {% for post in blogs %}
                    <div class="card blog-post-container shadow">
                        <img src="{{post.image.url}}" class="card-img-top">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-8">
                                    <a href="blog/{{post.slug}}">
                                        <h3>{{post.title}}
                                    </a>
                                </div>
                                <div class="col-4">
                                    <a class=" vote btn btn-danger float-right text-white" id="pr{{post.id}}"
                                        data="{{post.id}}">Upvote {{post.upvote}}</a>
                                </div>
                            </div>
                        </div>
                        <h7 class="px-4 pb-2 badge text-left">{{post.date_pub}}</h7>
                        <div class="card-text pl-3">
                            <p>{{post.body|truncatechars:150|safe}} <a href="blog/{{post.slug}}">read more</a></p>
                        </div>
                        <div class="card-footer">
                            <p>updated on: {{post.date_update}} by- {{post.hunter}}</p>
                        </div>
                    </div>
                    {% endfor %}
                    <div class="blog-post-container">
                    </div>

                    <!-- Pagination -->
                    <nav aria-label="Page navigation example ">
                        <ul class="pagination d-flex justify-content-center">
                            {% if page_obj %}
                            {% if page_obj.has_previous %}
                            <li class="page-item"><a class="page-link" href="?page=1">&laquo; First</a></li>
                            <li class="page-item"><a class="page-link"
                                    href="?page={{page_obj.previous_page_number}}">Previous</a></li>
                            <li class="page-item"><a class="page-link"
                                    href="?page={{page_obj.previous_page_number}}">{{page_obj.previous_page_number}}</a>
                            </li>
                            {% endif %}

                            <span class="current">
                                <li class="page-item "><a class="page-link bg-info text-white"
                                        href="?page={{page_obj.number}}">{{page_obj.number}}</a></li>
                            </span>

                            {% if page_obj.has_next %}
                            <li class="page-item"><a class="page-link"
                                    href="?page={{page_obj.next_page_number}}">{{page_obj.next_page_number}}</a></li>
                            <li class="page-item"><a class="page-link" href="?page={{page_obj.next_page_number}}">
                                    Next</a></li>
                            <li class="page-item"><a class="page-link"
                                    href="?page={{page_obj.paginator.num_pages}}">Last &raquo;</a></li>
                            {% endif %}
                            {% endif %}
                        </ul>
                    </nav>

                </div>
                <!-- end blog feed -->


                <!-- Right 'create post' column  -->
                <div class="right-column col-lg-3 d-lg-flex d-none flex-column">

                    <div class="card shadow create-post-bar d-flex flex-column p-3">
                        <img src="{%static 'img/new_robo.jpg' %}" style="height: 250px;">
                        <p class="lead">Welcome to Yureka Hunt. If you have an amazing product/item then show them to
                            all. Get ready to Hunt</p>
                        <p class="m-auto"><a class="btn btn-warning " href="{% url 'create' %}">Create post</a></p>
                    </div>

                </div>
            </div>
    </div>

    {% endblock content %}
    {% block script %}
    <script>
        $(document).ready(function () {
            {% if user.is_authenticated %}
            $(".vote").click(function () {
                var catdata;
                catdata = $(this).attr('data'),
                    $.ajax({
                        url: "{% url 'upvotes' %}",
                        method: 'GET',
                        data: {

                            'post_id': catdata
                        },
                        success: function (data) {
                            $("#pr" + catdata).html("Upvote " + data.upvote);
                        }
                    });
            });
            {% else %}
            $(".vote").click(function () {
                alert("Your not Authorized User for Upvote. Signup or Login");
            });
            {% endif %}
        });
    </script>
    {% endblock %}
</body>

</html>