{% extends 'base.html' %}
{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accounts|SignUp</title>
</head>

<body>
    {% block content %}
    {% bootstrap_messages %}
    <div class="container col-sm-12 col-md-12 col-lg-8">
        <div class="container border border-warning mt-3 rounded">
            <h3 class="text-center bg-warning mb-3">Registration</h3>
            {% bootstrap_form_errors form layout='inline' %}
            <form action="." method="post">{% csrf_token %}
                {% bootstrap_form form  %}

                {% buttons %}
                <button class="btn btn-success" type="submit">SignUp</button>
                {% endbuttons %}
            </form>
        </div>
    </div>
    {% endblock %}
</body>

</html>